* {
  font-family: 'Montserrat', sans-serif;
}

#lock {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(226deg, #427ea7, #6657b9, #5d46db, #4677db);
background-size: 800% 800%;
  -webkit-animation: verify 30s ease infinite;
  -moz-animation: verify 30s ease infinite;
  animation: verify 30s ease infinite;
}

#bunny {
  position: absolute;
  height: 5em;
  width: 5.2em;
  top: 20%;
  left: 50%;
  transform: translateX(-50%) scale(3)
}

#inputcmd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid;
  border-color: black;
  border-radius: 40px;
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
}

input:focus { outline: none }

/* animations */
.error {
  animation: error 1s linear;
}

.correct {
  background-color: #55b655;
  border-color: #55b655;
  transition-duration: 1s;
}

/* keyframes */
@-webkit-keyframes verify {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes verify {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes verify { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes error {
  3%, 15% {
    transform: translateX(-40%)
  } 
  6%, 12%, 18% {
    transform: translateX(-50%)
  }
  9% {
    transform: translateX(-60%)
  }
  50% {
    background-color: #ce5858;
    border-color: #ce5858;
  }
}